#devices, #main-banner {
    background-repeat: no-repeat;
    background-position: center center
}

.top-bar {
    background-color: #252423;
    margin-bottom: 0;
    border: 0;
    border-radius: 0
}

.top-bar #logo-big {
    width: 150px;
    position: absolute;
    margin-top: 5px
}

#steps, #steps .steps-row {
    position: relative
}

.top-bar #logo-small {
    margin: 0 auto;
    width: 120px;
    padding-bottom: 5px
}

.btn-primary {
    background-color: #0090AA
}

#main-banner {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    height: 300px
}

#main-banner .banner-text {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 700
}

@media only screen and (max-width:768px) {
    #main-banner .banner-text {
        font-size: 32px;
        margin-left: 0
    }
}

#main-banner #banner-block {
    margin-top: 20px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px
}

#main-banner #banner-block .banner-block-main-text {
    font-size: 16px;
    font-weight: 700
}

#main-banner #banner-block .banner-block-secondary-text {
    font-size: 12px
}

#benefits .container, #control .container, #payment-methods .container, #pricing .container, #steps .container, #testimonials .container {
    padding-top: 40px;
    padding-bottom: 40px
}

#benefits {
    background-color: #F8F8F8
}

#benefits .benefit p {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    width: 100%
}

#control, #steps {
    background-color: #F8F8F8
}

#benefits .benefits-header {
    font-size: 20px;
    font-weight: 700
}

#benefits #regulated {
    margin-top: -65px;
    margin-left: 10px
}

#payment-methods .payment-methods-header {
    font-size: 35px
}

#control .control-header {
    font-size: 16px;
    font-weight: 700
}

#devices {
    background-color: #D5D5D5;
    background-image: url(../img/devices.jpg);
    background-size: 500px;
    height: 250px
}

@media only screen and (max-width:768px) {
    #control .control-header {
        font-size: 24px
    }
    #devices {
        height: 290px
    }
}

#devices .payment-methods-header {
    font-size: 23px;
    margin-bottom: 15px
}

#devices .container {
    padding-top: 30px;
    padding-bottom: 40px
}

#steps {
    display: table;
    width: 100%
}

#steps .steps-header {
    font-size: 16px;
    font-weight: 700
}

#steps .steps-row:before {
    top: 24px;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc
}

#steps .step {
    display: table-cell;
    text-align: center;
    position: relative
}

#steps .step p {
    margin-top: 10px
}

#steps .step.active p {
    color: #0090AA
}

#steps .step .btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
    color: #0090AA;
    border-color: #0090AA
}

#testimonials {
    background-color: #EDEDED
}

#testimonials .image-holder {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 10px
}

#testimonials img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto
}

#testimonials p.testimonial {
    margin-bottom: 10px
}

#testimonials p.signature {
    font-style: italic
}

#pricing .pricing-header {
    font-size: 16px;
    font-weight: 700
}

#pricing .price {
    padding: 0 15px 0 0
}

#pricing .price .note {
    font-size: 10px;
    margin-top: 7px
}

#pricing .values {
    padding-top: 30px;
    padding-bottom: 55px;
    background-color: #CCE8ED
}

#pricing .values .number {
    font-size: 70px
}

#pricing .values .text {
    font-size: 15px;
    margin-top: -15px
}

footer p {
    font-size: 40px
}

@media only screen and (max-width:768px) {
    footer p {
        font-size: 30px
    }
}

.bottom-element {
    height: 30px;
    width: 100%;
    margin-top: 30px;
    background-color: #F8F8F8
}
